.login-container {
  min-width: 400px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f38f69;
  background-image: url("@/assets/login_bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  .login-form {
    min-width: 350px;
    padding: 30px;
    border-radius: 6px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 6px 5px 2px rgb(126, 54, 34, 0.4);

    .login-form__header {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-bottom: 30px;
      font-size: 30px;
      font-weight: 500;
    }

    .el-form-item:last-child {
      margin-bottom: 0;
    }

    .login__form-title {
      display: flex;
      justify-content: center;
      color: #fff;
    }

    .submit-button {
      width: 100%;
    }

    .login-logo {
      width: 271px;
      height: 74px;
    }
  }
}
